.map-preview{
  margin: 15px 0;
  width: 280px;
  cursor: pointer;
  text-align: center;
  border: solid 1px #e4e4e4;
  border-radius: 5px;
  background: url("../images/default_map.png") no-repeat center #eee;
  background-image: url('http://maps.googleapis.com/maps/api/staticmap?center=35.002981,135.754527&zoom=15&size=230x80&markers=icon:http://www.eztravel.com.tw/htf_2015/marker.png%7C35.002981,135.754527&sensor=false&key=AIzaSyBdc3ok3ONL14aKyfBXENnDJ6C5rVpyihI');

  > div{
    margin-top: 120px;
    color: #080;
    font-size: 15px;
    line-height: 36px;
    border-top: solid 1px #e4e4e4;
    font-family: Arial,"微軟正黑體","Microsoft JhengHei";

      > i{
      display: inline-block;
      background-position: -195px 0;
      margin: -5px 5px 0 0;
      vertical-align: middle;
    }
  }

  &:hover{
    > div{
      color: #00ab00;

      > i{
        background-position: -195px -20px;
      }
    }
  }
}

#gmapModal {
  top: 50%;
  margin-top: -280px;

  .modal-dialog{
    width: 732px;

    .modal-content{
      padding: 5px;
    }
  }
}

#gmap {
  width: 700px;
  height: 500px;
}

#infowindow{
  text-overflow: ellipsis;
  overflow: hidden;
  width: 284px;

  a{
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
    color: #212121;

    &:hover{
      color: #00ab00;
    }
  }

  img{
    width: 90px;
    float: left;
    margin-right: 5px;
  }

  .text-score{
    color: #00ab00;
    font-size: 20px;
    font-family: Arial,Helvetica,sans-serif;
    line-height: 20px;
  }
}






// animation from http://codepen.io/Michiel/pen/EjLNby?editors=110

#animation ~ *,
#animation ~ * * {
  animation-play-state: paused !important;

  &::before,
  &::after {
    animation-play-state: paused !important;
  }
}

#animation:checked ~ *,
#animation:checked ~ * * {
  animation-play-state: running !important;

  &::before,
  &::after {
    animation-play-state: running !important;
  }
}

[role="img"] {
  position: relative;
  width: 600px;
  height: 600px;
  border: 1px solid #333;
  //transform: scale(.5);
  transform-origin: 0 0;
  overflow: hidden;
}

.background {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 1000px;
  height: 1000px;
  border-radius: 100%;
  background: black;
  transform: translate(-50%, -50%) scale(.17);

  // animation: background linear 5s forwards;
  animation: background linear 5s infinite;
}

.pacman {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  background: #000;

  // animation: pac-man linear 5s forwards;
  animation: pac-man linear 5s infinite;
}

$size: (200px / 5 * 4);

.mouth {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 3;
  width: $size;
  height: $size;
  transform: translate(50%, -50%);
  animation: bite linear .4s infinite;
  
  &::before {
    display: block;
    width: $size;
    height: $size;
    transform: rotateZ(45deg);
    background-color: #000;
    // animation: bite-opacity linear 5s forwards;
    animation: bite-opacity linear 5s infinite;
    content: '';
  }
}

.dots {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  // animation: dot-opacity linear 5s forwards;
  animation: dot-opacity linear 5s infinite;

  &::before,
  &::after {
    $size: floor(600px / 20);
    position: absolute;
    z-index: 5;
    top: 50%;
    right: -100%;
    width: $size;
    height: $size;
    transform: translateY(-50%);
    background-color: #fab99a;
    animation: dot linear .4s infinite;
    content: '';
  }

  &::after {
    animation-delay: (.4s / 2);
  }
}

// Animations
@keyframes background {
  // Step 1
  0% {
    transform: translate(-50%, -50%) scale(.17);
    border-radius: 100%;
  }

  // Step 2
  20% {
    transform: translate(-50%, -50%) scale(1);
  }

  // Step 6
  90% {
    transform: translate(-50%, -50%) scale(1);
    border-radius: 0;
  }

  // Step 7
  100% {
    transform: translate(-50%, -50%) scale(.2);
    border-radius: 0;
  }
}

@keyframes pac-man {
  // Step 1
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    border-radius: 0;
  }

  // Step 2
  10% {
    transform: translate(-50%, -50%) rotate(180deg);
    border-radius: 0;
  }

  // Step 3
  20%, 60% {
    transform: translate(-50%, -50%) rotate(360deg);
    border-radius: 100%;
    background: #fdff35;
  }

  // Step 6
  80% {
    transform: translate(160%, -50%) rotate(360deg);
    background: #fdff35;
  }

  // Step 7
  100% {
    transform: translate(160%, -50%) rotate(360deg);
    border-radius: 100%;
    background: #fdff35;
  }
}

@keyframes bite {
  0% {
    transform: translate(50%, -50%) rotateX(0);
  }

  50% {
    transform: translate(50%, -50%) rotateX(-90deg);
  }

  100% {
    transform: translate(50%, -50%) rotateX(0);
  }
}

@keyframes bite-opacity {
  0%, 19% {
    opacity: 0;
  }

  22%, 100% {
    opacity: 1;
  }
}

@keyframes dot {
  0% {
    right: -20%;
  }

  100% {
    right: 30%;
  }
}

@keyframes dot-opacity {
  0%, 20% {
    opacity: 0;
  }

  22%, 65% {
    opacity: 1;
  }

  66%, 100% {
    opacity: 0;
  }
}