@charset "UTF-8";
/* line 1, ../sass/google-map.scss */
.map-preview {
  margin: 15px 0;
  width: 280px;
  cursor: pointer;
  text-align: center;
  border: solid 1px #e4e4e4;
  border-radius: 5px;
  background: url("../images/default_map.png") no-repeat center #eee;
  background-image: url("http://maps.googleapis.com/maps/api/staticmap?center=35.002981,135.754527&zoom=15&size=230x80&markers=icon:http://www.eztravel.com.tw/htf_2015/marker.png%7C35.002981,135.754527&sensor=false&key=AIzaSyBdc3ok3ONL14aKyfBXENnDJ6C5rVpyihI");
}
/* line 11, ../sass/google-map.scss */
.map-preview > div {
  margin-top: 120px;
  color: #080;
  font-size: 15px;
  line-height: 36px;
  border-top: solid 1px #e4e4e4;
  font-family: Arial,"微軟正黑體","Microsoft JhengHei";
}
/* line 19, ../sass/google-map.scss */
.map-preview > div > i {
  display: inline-block;
  background-position: -195px 0;
  margin: -5px 5px 0 0;
  vertical-align: middle;
}
/* line 28, ../sass/google-map.scss */
.map-preview:hover > div {
  color: #00ab00;
}
/* line 31, ../sass/google-map.scss */
.map-preview:hover > div > i {
  background-position: -195px -20px;
}

/* line 38, ../sass/google-map.scss */
#gmapModal {
  top: 50%;
  margin-top: -280px;
}
/* line 42, ../sass/google-map.scss */
#gmapModal .modal-dialog {
  width: 732px;
}
/* line 45, ../sass/google-map.scss */
#gmapModal .modal-dialog .modal-content {
  padding: 5px;
}

/* line 51, ../sass/google-map.scss */
#gmap {
  width: 700px;
  height: 500px;
}

/* line 56, ../sass/google-map.scss */
#infowindow {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 284px;
}
/* line 61, ../sass/google-map.scss */
#infowindow a {
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  color: #212121;
}
/* line 67, ../sass/google-map.scss */
#infowindow a:hover {
  color: #00ab00;
}
/* line 72, ../sass/google-map.scss */
#infowindow img {
  width: 90px;
  float: left;
  margin-right: 5px;
}
/* line 78, ../sass/google-map.scss */
#infowindow .text-score {
  color: #00ab00;
  font-size: 20px;
  font-family: Arial,Helvetica,sans-serif;
  line-height: 20px;
}

/* line 93, ../sass/google-map.scss */
#animation ~ *,
#animation ~ * * {
  animation-play-state: paused !important;
}
/* line 97, ../sass/google-map.scss */
#animation ~ *::before, #animation ~ *::after,
#animation ~ * *::before,
#animation ~ * *::after {
  animation-play-state: paused !important;
}

/* line 103, ../sass/google-map.scss */
#animation:checked ~ *,
#animation:checked ~ * * {
  animation-play-state: running !important;
}
/* line 107, ../sass/google-map.scss */
#animation:checked ~ *::before, #animation:checked ~ *::after,
#animation:checked ~ * *::before,
#animation:checked ~ * *::after {
  animation-play-state: running !important;
}

/* line 113, ../sass/google-map.scss */
[role="img"] {
  position: relative;
  width: 600px;
  height: 600px;
  border: 1px solid #333;
  transform-origin: 0 0;
  overflow: hidden;
}

/* line 123, ../sass/google-map.scss */
.background {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 1000px;
  height: 1000px;
  border-radius: 100%;
  background: black;
  transform: translate(-50%, -50%) scale(0.17);
  animation: background linear 5s infinite;
}

/* line 139, ../sass/google-map.scss */
.pacman {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  background: #000;
  animation: pac-man linear 5s infinite;
}

/* line 155, ../sass/google-map.scss */
.mouth {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 3;
  width: 160px;
  height: 160px;
  transform: translate(50%, -50%);
  animation: bite linear .4s infinite;
}
/* line 166, ../sass/google-map.scss */
.mouth::before {
  display: block;
  width: 160px;
  height: 160px;
  transform: rotateZ(45deg);
  background-color: #000;
  animation: bite-opacity linear 5s infinite;
  content: '';
}

/* line 178, ../sass/google-map.scss */
.dots {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  animation: dot-opacity linear 5s infinite;
}
/* line 188, ../sass/google-map.scss */
.dots::before, .dots::after {
  position: absolute;
  z-index: 5;
  top: 50%;
  right: -100%;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  background-color: #fab99a;
  animation: dot linear .4s infinite;
  content: '';
}
/* line 203, ../sass/google-map.scss */
.dots::after {
  animation-delay: 0.2s;
}

@keyframes background {
  0% {
    transform: translate(-50%, -50%) scale(0.17);
    border-radius: 100%;
  }
  20% {
    transform: translate(-50%, -50%) scale(1);
  }
  90% {
    transform: translate(-50%, -50%) scale(1);
    border-radius: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(0.2);
    border-radius: 0;
  }
}
@keyframes pac-man {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    border-radius: 0;
  }
  10% {
    transform: translate(-50%, -50%) rotate(180deg);
    border-radius: 0;
  }
  20%, 60% {
    transform: translate(-50%, -50%) rotate(360deg);
    border-radius: 100%;
    background: #fdff35;
  }
  80% {
    transform: translate(160%, -50%) rotate(360deg);
    background: #fdff35;
  }
  100% {
    transform: translate(160%, -50%) rotate(360deg);
    border-radius: 100%;
    background: #fdff35;
  }
}
@keyframes bite {
  0% {
    transform: translate(50%, -50%) rotateX(0);
  }
  50% {
    transform: translate(50%, -50%) rotateX(-90deg);
  }
  100% {
    transform: translate(50%, -50%) rotateX(0);
  }
}
@keyframes bite-opacity {
  0%, 19% {
    opacity: 0;
  }
  22%, 100% {
    opacity: 1;
  }
}
@keyframes dot {
  0% {
    right: -20%;
  }
  100% {
    right: 30%;
  }
}
@keyframes dot-opacity {
  0%, 20% {
    opacity: 0;
  }
  22%, 65% {
    opacity: 1;
  }
  66%, 100% {
    opacity: 0;
  }
}
