@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300");
/* line 40, ../sass/google-map.scss */
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/* line 45, ../sass/google-map.scss */
a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

/* line 53, ../sass/google-map.scss */
h1 {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-size: 3em;
  text-align: center;
}

/* line 70, ../sass/google-map.scss */
.mobile-menu {
  position: fixed;
  top: 10vh;
  left: 0;
  z-index: 5;
}
/* line 76, ../sass/google-map.scss */
.mobile-menu .checkbox-toggle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  cursor: pointer;
  width: 60px;
  height: 60px;
  opacity: 0;
}
/* line 87, ../sass/google-map.scss */
.mobile-menu .icon-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 60px;
  height: 60px;
  padding: .5em 1em;
  background: rgba(33, 150, 243, 0.75);
  border-radius: 0 0.12em 0.12em 0;
  cursor: pointer;
  -webkit-transition: box-shadow 0.3s ease;
  -moz-transition: box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* line 106, ../sass/google-map.scss */
.mobile-menu .checkbox-toggle:checked + .icon-menu > div {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* line 109, ../sass/google-map.scss */
.mobile-menu .checkbox-toggle:checked + .icon-menu > div:before, .mobile-menu .checkbox-toggle:checked + .icon-menu > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 114, ../sass/google-map.scss */
.mobile-menu .checkbox-toggle:checked + .icon-menu > div:after {
  opacity: 0;
}
/* line 118, ../sass/google-map.scss */
.mobile-menu .checkbox-toggle:checked ~ .menu {
  pointer-events: auto;
}
/* line 121, ../sass/google-map.scss */
.mobile-menu .checkbox-toggle:checked ~ .menu > .menu-background {
  width: 200vw;
  height: 200vw;
}
/* line 124, ../sass/google-map.scss */
.mobile-menu .checkbox-toggle:checked ~ .menu > .menu-background > .menu-list {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease 0.3s;
  -moz-transition: opacity 0.3s ease 0.3s;
  -o-transition: opacity 0.3s ease 0.3s;
  transition: opacity 0.3s ease 0.3s;
}
/* line 130, ../sass/google-map.scss */
.mobile-menu .checkbox-toggle:checked:hover + .icon-menu > div {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}

/* line 139, ../sass/google-map.scss */
.mobile-menu .icon-menu > div {
  position: relative;
  width: 100%;
  height: 2px;
  background: #fefefe;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/* line 147, ../sass/google-map.scss */
.mobile-menu .icon-menu > div:before, .mobile-menu .icon-menu > div:after {
  content: '';
  position: absolute;
  z-index: 5;
  top: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: inherit;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 158, ../sass/google-map.scss */
.mobile-menu .icon-menu > div:after {
  top: 10px;
}

/* line 163, ../sass/google-map.scss */
.mobile-menu .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/* line 172, ../sass/google-map.scss */
.mobile-menu .menu .menu-background {
  width: 0;
  height: 0;
  color: #fefefe;
  background: rgba(41, 98, 255, 0.97);
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/* line 183, ../sass/google-map.scss */
.mobile-menu .menu .menu-list {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  overflow-y: auto;
}

/* line 192, ../sass/google-map.scss */
.mobile-menu .menu-list > ul {
  list-style: none;
  padding: 0 1em;
  margin: 0;
  display: block;
  max-height: 100vh;
}
/* line 198, ../sass/google-map.scss */
.mobile-menu .menu-list > ul > li {
  padding: 0;
  margin: 1em;
  font-size: 24px;
  display: block;
}
/* line 203, ../sass/google-map.scss */
.mobile-menu .menu-list > ul > li > a {
  position: relative;
  display: inline;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
/* line 208, ../sass/google-map.scss */
.mobile-menu .menu-list > ul > li > a:after {
  content: '';
  position: absolute;
  z-index: 5;
  bottom: -0.15em;
  left: 0;
  width: 0;
  height: 2px;
  background: #e5e5e5;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
/* line 219, ../sass/google-map.scss */
.mobile-menu .menu-list > ul > li > a:hover {
  color: #e5e5e5;
}
/* line 222, ../sass/google-map.scss */
.mobile-menu .menu-list > ul > li > a:hover:after {
  width: 100%;
}

/* line 229, ../sass/google-map.scss */
.map-preview {
  margin: 50px;
  width: 280px;
  cursor: pointer;
  text-align: center;
  border: solid 1px #e4e4e4;
  border-radius: 5px;
  background: url("../images/default_map.png") no-repeat center #eee;
  background-image: url("http://maps.googleapis.com/maps/api/staticmap?center=35.002981,135.754527&zoom=15&size=230x80&markers=icon:http://www.eztravel.com.tw/htf_2015/marker.png%7C35.002981,135.754527&sensor=false&key=AIzaSyBdc3ok3ONL14aKyfBXENnDJ6C5rVpyihI");
}
/* line 239, ../sass/google-map.scss */
.map-preview > div {
  margin-top: 120px;
  color: #080;
  font-size: 15px;
  line-height: 36px;
  border-top: solid 1px #e4e4e4;
  font-family: Arial,"微軟正黑體","Microsoft JhengHei";
}
/* line 247, ../sass/google-map.scss */
.map-preview > div > i {
  display: inline-block;
  background-position: -195px 0;
  margin: -5px 5px 0 0;
  vertical-align: middle;
}
/* line 256, ../sass/google-map.scss */
.map-preview:hover > div {
  color: #00ab00;
}
/* line 259, ../sass/google-map.scss */
.map-preview:hover > div > i {
  background-position: -195px -20px;
}

/* line 266, ../sass/google-map.scss */
#gmapModal {
  top: 50%;
  margin-top: -280px;
}
/* line 270, ../sass/google-map.scss */
#gmapModal .modal-dialog {
  width: 732px;
}
/* line 273, ../sass/google-map.scss */
#gmapModal .modal-dialog .modal-content {
  padding: 5px;
}

/* line 279, ../sass/google-map.scss */
#gmap {
  width: 700px;
  height: 500px;
}

/* line 284, ../sass/google-map.scss */
#infowindow {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 284px;
}
/* line 289, ../sass/google-map.scss */
#infowindow a {
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  color: #212121;
}
/* line 295, ../sass/google-map.scss */
#infowindow a:hover {
  color: #00ab00;
}
/* line 300, ../sass/google-map.scss */
#infowindow img {
  width: 90px;
  float: left;
  margin-right: 5px;
}
/* line 306, ../sass/google-map.scss */
#infowindow .text-score {
  color: #00ab00;
  font-size: 20px;
  font-family: Arial,Helvetica,sans-serif;
  line-height: 20px;
}

/* line 321, ../sass/google-map.scss */
#animation ~ *,
#animation ~ * * {
  animation-play-state: paused !important;
}
/* line 325, ../sass/google-map.scss */
#animation ~ *::before, #animation ~ *::after,
#animation ~ * *::before,
#animation ~ * *::after {
  animation-play-state: paused !important;
}

/* line 331, ../sass/google-map.scss */
#animation:checked ~ *,
#animation:checked ~ * * {
  animation-play-state: running !important;
}
/* line 335, ../sass/google-map.scss */
#animation:checked ~ *::before, #animation:checked ~ *::after,
#animation:checked ~ * *::before,
#animation:checked ~ * *::after {
  animation-play-state: running !important;
}

/* line 341, ../sass/google-map.scss */
[role="img"] {
  position: relative;
  width: 600px;
  height: 600px;
  border: 1px solid #333;
  transform-origin: 0 0;
  overflow: hidden;
}

/* line 351, ../sass/google-map.scss */
.background {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 1000px;
  height: 1000px;
  border-radius: 100%;
  background: black;
  transform: translate(-50%, -50%) scale(0.17);
  animation: background linear 5s infinite;
}

/* line 367, ../sass/google-map.scss */
.pacman {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  background: #000;
  animation: pac-man linear 5s infinite;
}

/* line 383, ../sass/google-map.scss */
.mouth {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 3;
  width: 160px;
  height: 160px;
  transform: translate(50%, -50%);
  animation: bite linear .4s infinite;
}
/* line 394, ../sass/google-map.scss */
.mouth::before {
  display: block;
  width: 160px;
  height: 160px;
  transform: rotateZ(45deg);
  background-color: #000;
  animation: bite-opacity linear 5s infinite;
  content: '';
}

/* line 406, ../sass/google-map.scss */
.dots {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  animation: dot-opacity linear 5s infinite;
}
/* line 416, ../sass/google-map.scss */
.dots::before, .dots::after {
  position: absolute;
  z-index: 5;
  top: 50%;
  right: -100%;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  background-color: #fab99a;
  animation: dot linear .4s infinite;
  content: '';
}
/* line 431, ../sass/google-map.scss */
.dots::after {
  animation-delay: 0.2s;
}

@keyframes background {
  0% {
    transform: translate(-50%, -50%) scale(0.17);
    border-radius: 100%;
  }
  20% {
    transform: translate(-50%, -50%) scale(1);
  }
  90% {
    transform: translate(-50%, -50%) scale(1);
    border-radius: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(0.2);
    border-radius: 0;
  }
}
@keyframes pac-man {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    border-radius: 0;
  }
  10% {
    transform: translate(-50%, -50%) rotate(180deg);
    border-radius: 0;
  }
  20%, 60% {
    transform: translate(-50%, -50%) rotate(360deg);
    border-radius: 100%;
    background: #fdff35;
  }
  80% {
    transform: translate(160%, -50%) rotate(360deg);
    background: #fdff35;
  }
  100% {
    transform: translate(160%, -50%) rotate(360deg);
    border-radius: 100%;
    background: #fdff35;
  }
}
@keyframes bite {
  0% {
    transform: translate(50%, -50%) rotateX(0);
  }
  50% {
    transform: translate(50%, -50%) rotateX(-90deg);
  }
  100% {
    transform: translate(50%, -50%) rotateX(0);
  }
}
@keyframes bite-opacity {
  0%, 19% {
    opacity: 0;
  }
  22%, 100% {
    opacity: 1;
  }
}
@keyframes dot {
  0% {
    right: -20%;
  }
  100% {
    right: 30%;
  }
}
@keyframes dot-opacity {
  0%, 20% {
    opacity: 0;
  }
  22%, 65% {
    opacity: 1;
  }
  66%, 100% {
    opacity: 0;
  }
}
